aioconsole==0.6.1
aiounittest==1.4.2
debugpy==1.6.3
decorator==5.1.1
ipykernel==6.16.0
ipython==8.5.0
nest-asyncio==1.5.6
pure-eval==0.2.2
py4j==0.10.9.5
pydantic==1.10.7
Pygments==2.13.0
pyparsing==3.0.9
python-dateutil==2.8.2
pyzmq==24.0.1
requests==2.28.1
traitlets==5.4.0
typing_extensions==4.5.0
uvicorn==0.22.0
wcwidth==0.2.5
wrapt==1.15.0
